{% extends 'base.html' %}
{% block content %}
<div class="container" style="font-family: 'Jost', sans-serif;">
    <article class="media content-section">
        <img class="ml-3 mt-2  mr-3 img-fluid" src="{{ object.image.url }}" height="500px" width="500px">
        <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">{{ object.pub_date|date:"F d, Y" }}</small>
                {% if object.author == user.profile %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                </div>
                {% endif %}
            </div>
            <form action="{% url 'like_post' object.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="post_id" value="{{object.id}}" class="btn-sm btn-info">Like</button>
                <p>Likes: {{ total_likes }}</p>
            </form>
            <h2 class="article-title">{{ object.caption }}</h2>
        </div>
    </article>
</div>
{% endblock content %}