{% extends "base.html" %}
{% block content %}
<div class="container" style="font-family: 'Jost', sans-serif;">
    <h1>Welcome {{user.username}}</h1>
    <hr>
    <div class="row">
        <div class="col-11">
            <div class="row">
                {% for post in posts %}
                <div class="col-md-8" style="border: light 2px;">
                    <div class="card m-3">
                        <img class="img-fluid" src="{{ post.image.url }}" height="50px">
                        <small class="text-muted">posted on {{ post.pub_date|date:"F d, Y" }}</small>
                        <h5><a class="article-title" href="{% url 'post-detail' post.id %}">View Image</a></h5>

                        <div class="row pl-4">
                                <a href="{% url 'comment' post.id %}"><i class="fas fa-comment h2 fa-fw pr-3"></i></a>
                                {% if user.is_authenticated %}
                                <form action="{% url 'like_post' post.pk %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" name="post_id" value="{{post.id}}"
                                        class="btn-sm btn-info">Like</button>
                                </form>
                        </div>
                        {% endif %}

                        <p class="article-content">{{ post.caption }}</p>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endblock content %}